version: 2.1

orbs:
  hmpps: ministryofjustice/hmpps@<<pipeline.parameters.dev-orb-version>>
  orb-tools: circleci/orb-tools@10.0

# Pipeline Parameters
## These parameters are used internally by orb-tools. Skip to the Jobs section.
parameters:
  run-integration-tests:
    description: An internal flag to prevent integration test from running before a development version has been created.
    type: boolean
    default: false
  dev-orb-version:
    description: >
      The development version of the orb to test.
      This value is automatically adjusted by the "trigger-integration-tests-workflow" job to correspond with the specific version created by the commit and should not be edited.
      A "dev:alpha" version must exist for the initial pipeline run.
    type: string
    default: "dev:alpha"

jobs:
  # Define one or more jobs which will utilize your orb's commands and parameters to validate your changes.
  integration-tests-orb-commands:
    executor: orb-tools/ubuntu
    steps:
      - hmpps/create_app_version
      - hmpps/k8s_setup
      - hmpps/install_helm
      - hmpps/install_aws_cli

workflows:
  # Prior to producing a development orb (which requires credentials) basic validation, linting, and even unit testing can be performed.
  # This workflow will run on every commit
  test-pack:
    unless: << pipeline.parameters.run-integration-tests >>
    jobs:
      - orb-tools/lint # Lint Yaml files
      - orb-tools/pack # Pack orb source
      # Publish development version(s) of the orb.
      - orb-tools/publish-dev:
          orb-name: ministryofjustice/hmpps
          requires:
            - orb-tools/pack

      # Trigger an integration workflow to test the
      # dev:${CIRCLE_SHA1:0:7} version of your orb
      - orb-tools/trigger-integration-tests-workflow:
          name: trigger-integration-dev
          requires:
            - orb-tools/publish-dev

  # This `integration-test_deploy` workflow will only run
  # when the run-integration-tests pipeline parameter is set to true.
  # It is meant to be triggered by the "trigger-integration-tests-workflow"
  # job, and run tests on <your orb>@dev:${CIRCLE_SHA1:0:7}.
  integration-test_deploy:
    when: << pipeline.parameters.run-integration-tests >>
    jobs:
      # Run any integration tests defined within the `jobs` key.
      - integration-tests-orb-commands

      # Add test for orb jobs below
      - hmpps/build_docker:
          image_name: example_image_name
          publish: false
          dockerfile_dir: tests
          snyk-scan: true
          snyk-threshold: medium
          snyk-fail-build: false

      - hmpps/helm_lint:
          env: "test"
          helm_dir: tests/helm_deploy
          chart_name: test-chart

      - hmpps/deploy_env:
          env: "test"
          chart_name: test-chart
          helm_dir: tests/helm_deploy
          helm_additional_args: "--dry-run --debug"
          retrieve_secrets: "none"
          slack_notification: true
          slack_channel_name: dps_alerts_non_prod
          requires:
            - hmpps/build_docker
          context:
            - moj-slack-notifications

      # publish a semver version of the orb. relies on
      # the commit subject containing the text "[semver:patch|minor|major|skip]"
      # as that will determine whether a patch, minor or major
      # version will be published or if publishing should
      # be skipped.
      # e.g. [semver:patch] will cause a patch version to be published.
      - orb-tools/dev-promote-prod-from-commit-subject:
          orb-name: ministryofjustice/hmpps

          add-pr-comment: false
          fail-if-semver-not-indicated: true
          publish-version-tag: false
          requires:
            - integration-tests-orb-commands
            - hmpps/build_docker
            - hmpps/deploy_env
          filters:
            branches:
              only: master
